@font-face {
  font-family: "IRANSansX";
  src: local("IRANSansXBold"),
    url("./Fonts/IRANSansX-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "IRANSansX";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282a35;
}

